# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projets i3\Jeu_echecs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
